<%- include("./includes/head.ejs") %> 
<%- include("./includes/aside.ejs") %> 
  <main>
    <h1><%= restaurantFound.name %></h1>
    <p><%= restaurantFound.cuisine %> | <%= restaurantFound.address %></p>
    <p><%= restaurantFound.description %></p>
    <p><a href="<%= restaurantFound.website %>">View Website</a></p>
  </main>
</body>
</html>